
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đã xác nhận đơn hàng</h2>
<h3>Chúng tôi sẽ giao đơn hàng cho bạn sớm nhất có thể trong @ !</h3>
<p>@Html.ActionLink("Tiếp Tục Mua Hàng", "Index", "Sach")</p>